.add-product {
  position: relative;
}

/* .add__input {
  padding-left: 50px !important;
} */

.add-icon {
  cursor: pointer;
  position: absolute;
  top: 55%;
  left: 2%;
}

.menu__link {
  text-decoration: none;
  color: black;
  margin: 0 15px;
  padding-top: 8px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}

.mt-80 {
  margin-top: 80px;
}

.ml-200 {
  margin-left: 200px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.max-width {
  max-width: 800px;
}

.max-width-400 {
  max-width: 400px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

.valid-form__message {
  font-size: 14px;
  color: red;
}

.form-action {
  display: flex;
  justify-content:  space-between;
}

.select-size-page {
  width: 24% !important;
  height: 35px;
}
.search__input {
  height: 35px;
}
